extends layout

block content
  h1= title
  h2 Here are some lovely bungalows
  each bungalow in bungalows
    .bungalow
      //- TODO: need to change this endpoint to /bookings
      form(action=`/bookings`, method='post')

        a(href=`/bungalows/${bungalow.id}`)
          h3 Bungalow #{bungalow.name[0].toUpperCase() + bungalow.name.substring(1)}
          h4 #{bungalow.location}
          p #{bungalow.price} TRY
          if bungalow.rating
            p #{bungalow.rating} star#{bungalow.rating > 1 ? 's' : ''} - #{bungalow.reviews.length} review#{bungalow.reviews.length > 1 ? 's' : ''}
        span Check-in date&nbsp;
        input(type='date' name='checkInDate' value='2022-10-01')
        span Check-out date&nbsp;
        input(type='date' name='checkOutDate' value='2022-11-01')
        input(type="submit", value="Book now")
        input(type="hidden", name="bungalowId", id='bungalowId', value=`${bungalow.id}`)
